<!-- モーダル部分 -->
<section id="modalArea">
  <div id="modalBg">
    <div class="modalWrapper">
      <div class="modalContents">
        <h5>初心者</h5>
        <p>テニス経験が全くない。またはテニス経験はあるがラリーまではできない。</p>
        <h5>中級者</h5>
        <p>フォア・バック共にラリーが5回以上続く。かつテニスの試合ルールを理解している。</p>
        <h5>中上級者</h5>
        <p>フォア・バック共にラリーが10回以上続く。かつサービスから試合形式でラリーができる。</p>
        <h5>上級者者</h5>
        <p>シングル・ダブルス共に試合形式でラリーができる。</p>
      </div>
      <div id="closeModal" class="closeModal">
        ×
      </div>
    </div>
  </div>
</section>