<div class="container">
  <div class="chat_box bg-light">
  
    <div class="mb-3">
      <%= link_to "マイページへ戻る",customer_path(current_customer) %><br>
      <%= link_to "サークル詳細へ",circle_path(@circle.id) %>（<%= @circle.circle_name %>）
    </div>
    <!--非同期でチャットをやりとり-->
    <span id="chats_template">
      <%= render "public/chats/chats_index", chats: @chats,circle: @circle,chat: @chat %>
    </span>
  </div>
</div>