/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require select2
 *= require select2-bootstrap

 *= require_tree .
 *= require_self
 */
@import"bootstrap";

.login{
  margin-top:100px;
}
//共通部分
body{
  position: relative;
}
.common-body{
  background-color:#ebefee;
  //薄いグレーを指定
}
.top-img-pic{
  background-image:image-url(athletes-g0d494f7b5_1920.jpg);
  background-size:cover;
  background-position:center;
}
footer{
  background-color:#a5c9d8;
  position: absolute;
  bottom: 0;
  width: 100%;
  color:white;
  text-align:center;
  padding:10px 0;
}
.common-parts-info{
  width:80%;
  margin:0 auto;
}
.customer-info{
  width:60%;
  height:100%;
  margin:auto;
}
.bookmark{
    color:red;
}

.comment_index{
    height:60%;
    overflow: scroll;
}

.new_comment{
    margin-bottom:auto;
    height:40%;
}

.circle-index{
  overflow:scroll;
}

.main-content{
    display:flex;
    justify-content:space-between;
    height:600px;
}
.left-content{
    width:49%;
    overflow: scroll;
}
.right-content{
    width:49%;
}


  //サイドバー部分のスタイル
.wrapper {
  display:flex;
  align-items:stretch;
  min-height: 100vh;
  padding-bottom: 60px;
  box-sizing: border-box;
}

.sidebar-icon{
  transform: rotate(-90deg);
}
i.open{
  transform: rotate(90deg);
}

#sidebar.close {
    margin-left:-250px;
}

#sidebar {
  min-width:250px;
  max-width:250px;
  background-color:#73d5bc;
  color:#172b26;
  transition:all 0.3s;
}

#content {
  width:100%;
  padding:20px;
  transition:all 0.3s default;
}

//地図関連
#map{
    height:100%;
    width:70%;
}
.court_content{
    width:28%;
    overflow: scroll;
}

#show_map{
    height:300px;
    width:100%;
}

.map-search{
  background-color:#73d5bc;
}

//モーダル部分のスタイル

#modalArea {
  display:none; //デフォルト非表示
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
//モーダル展開時の背景
#modalBg {
  width:100%;
  height:100%;
  background-color:rgba(30,30,30,0.9);
}

.modalWrapper {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:70%;
  max-width:500px;
  padding:10px 30px;
  background-color:#fff;
}

//モーダルを閉じるためのボタン
.closeModal {
  position:absolute;
  top:0.5rem;
  right:1rem;
  cursor:pointer;
}

#openModal {
  transform:translate(-50%,-50%);
  cursor:pointer;
}
#openModal:hover{
  font-weight:bold;
}




//タブの切り替えのデザイン
.tab{
  padding:10px;
  width:150px;
  text-align:center;
  border-right:solid 2px #73d5bc;
  cursor:pointer;
}
.tab-active {
  color: #FFF;
  background: #73d5bc;
  font-weight:bold;
}

.tab-border{
  display:flex;
  border-bottom:solid 4px #73d5bc;
}

.tab-box{
  display:none;
}

.box-show{
  display:inline;
}
//タブはここまで



//テーブル関連
table {
  width: 100%;
  table-layout: fixed;
}

table td {
  word-break: break-all;
}
thead{
  font-weight:bold;
}

.report-form{
  width:60%;
  margin:50px auto 0;
}

.sidebar-logo{
  text-align:center;
  height:200px;
  line-height:200px;
}

.header-nav{
  margin:0 auto;
  display:flex;
  justify-content:center;
}


//チャット機能のデザイン
.reciever_chat{
  border-radius:10px;
  padding:20px;
  line-height:40px;
  background-color:white;
  display:inline-block;
}

.sender_chat{
  border-radius:10px;
  padding:20px;
  line-height:40px;
  background-color:#73d5bc;
  display:inline-block;
}

.chat_box{
  width:70%;
  padding:20px;
  border-radius:10px;
  margin:0 auto;
}